@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');


canvas { 
  width: auto; 
  max-width: 90%; 
  height: auto; 
  max-height: 75vh; 
  display: block; 
  margin: 0 auto; 
  border: solid 10px #323232; 
  cursor: move; 
  position: relative; 
  z-index: 2;
}

html { 
  height: 100%; 
  background: #FFFFFF; /* White background */
  color: #000000; /* Black text */
}

body { 
  min-height: 100%; 
  max-width: 900px; 
  margin: auto; 
}

@media (min-width: 400px) and (min-height: 400px) and (max-width: 1200px) {
  body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
}

.controls {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
  max-height: 80vh;
  border: solid 10px #323232;
  background: #323232;
  text-align: center;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Pinyon Script';
  text-transform: lowercase;
}

.mission { 
   
  font-size: 1.5em; 
}

.keys { 
  margin: 0.5em auto 0.25em; 
}

.green b { 
  color: #62D2A2; 
}

.pink b { 
  color: #DD5B82; 
}

.throb { 
  animation: throb 1s linear infinite alternate;
}

@keyframes throb {
  0% { color: #FE9797; }
  100% { color: #DD5B82; }
}

kbd {
  display: inline-block;
    padding: 5px 8px;  /* Reduce padding */
    font-size: 1em;  /* Adjust font size */
    border: solid 1px #aaa;
    background: #eee;
    border-radius: 0.3em;
    color: #555;
    width: 2em;  /* Reduce width */
    height: 1.5em; /* Reduce height */
    text-transform: none;
    border-bottom-width: 0.2em;
    border-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    font-family: 'Pinyon Script';
}

[data-key] { 
  cursor: pointer; 
}
